*{
    box-sizing: border-box;
}
body{
    background-image: url(kepek/hatter.jpg);

}

main{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: RGB(255,255,230);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "h h"
    "n n"
    "as a"
    "f f";
}
header{
    grid-area: h;
    opacity: 0.8;
    background-image: url(kepek/fejlec.jpg);
    height: 550px;  

}
h1{   
    padding-top: 60px;
    color: red;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
nav{
    background-color: red;
    height: 50px;
    padding-top: 20px;
    grid-area: n;
}
nav ul{
    margin: auto;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav ul li{
    border-top:1pt solid white ;
    border-bottom: 1pt solid white;
    padding: 5px;
    list-style: none;
    text-align: center;
}
nav li:hover{
    background-color: green;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
article{
    grid-area: a;
    margin: 10px;
}
p{
    text-align: justify;
    font-size: 10px;

}
h2{
    font-size: 15px;
    color:#ff1a1a;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}
.miki{
    float: right;
    border-radius: 20px;
    box-shadow: 5px 5px 5px ;
    margin: 10px;
}

aside{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: as;
}
aside img{
    width: 100%;
    margin: 5px;
    border: 1px solid red;
}
footer{
    grid-area: f;
    background-color:red ;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top:10px ;
    padding: 10px;
}